.slider {    
    display: flex;
    height: 90vh;
    overflow-x: scroll;
    align-items: center;
    transition: all 1s ease-in-out;
    position: relative;
}

.slider-image-containers {
    display: flex;
    align-items: center;
    gap: 20px;

    height: 60%;
}

@media screen and (max-width: 900px) {
    .slider-image-containers {
        height: 40%;
    }
}

.slider-image-container {
    height: 100%;
}

.slider-image {
    aspect-ratio: 0.5;

    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
    cursor: pointer;
    transition: all 200ms ease-out;
}