
::-webkit-scrollbar {
    display: none;
}

.slider {    
    display: flex;
    height: 90vh;
    overflow-x: scroll;
    align-items: center;
    transition: all 1s ease-in-out;
    // position: relative;
}

.slider-image-containers {
    display: flex;
    align-items: center;
    gap: 20px;

    height: 60%;
}

@media screen and (max-width: 900px) {
    .slider-image-containers {
        height: 40%;
    }
}

.slider-image-container {
    height: 100%;
}

.slider-image {

    height: 38vmin;
    width: 30vmin;
    object-fit: cover;
    object-position: 0% 50%;
    cursor: pointer;
    // transition: all 1000ms ease-out;
    transition: 1.7s cubic-bezier(0.445,0.05,0.058,0.96);

    //cubic-bezier(0.86,0.13,0.404,0.773);

    position: fixed;
    left:0; bottom:46vh;
    transform: translate(0,50%);

    &.clicked {
        width: 60vmin;
        height: 60vmin;
        transition: 1.7s cubic-bezier(0.445,0.05,0.058,0.96);


        z-index:999999999;
        transform: translate(-50%,50%);

        left:50%; bottom:50%;
        // transform: translate(0,0);



    }
}
