@use 'variables' as g;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

@font-face {
    font-family: DubielPlain;
    src: url(/media/fonts/Dubiel.ttf);
}

//GLOBAL
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

body {
    overflow-x: none;
  overscroll-behavior-y: none;
  /*Remove ScrollBar Entirely!*/
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  margin: 0;

  position: relative; 

}
body::-webkit-scrollbar { /* WebKit for removing scrollbar*/
  display: none;
}

// hr {
//     color: white;
//     border: 0.5px solid white;
// }

//navbar
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h2 {
        font-family: DubielPlain;
        font-style: normal;
        font-weight: 100;
        font-size: g.$h2;
    }
    margin: 1em;

    height: 4vh;
}


/*
<a href="https://www.vecteezy.com/free-vector/j">J Vectors by Vecteezy</a>
*/
#logo-container {
    overflow: hidden;
}
#logo {
    height: g.$logo;
    transform: translateY(-250px);
    opacity: 0;
    transition: all 0.8s ease-out;

    &.animated {
        transform: translate(0px);
        rotate: 0deg;
        opacity: 1;
    } 
}

//MENU
a {
    text-decoration: none;
    color: white;
}

#menu {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 250;
    font-size: g.$h3;
    padding: 0.125rem 0;
  
}

//TITLE
.title {
    margin: 0;
    overflow: hidden; //instead of container h1 is used as container
    transition: all 0.5s ease-in-out;
}
.title:hover, #logo:hover {
    transition: all 0.5s ease-in-out;
    transform: skew(-20deg);
}
.title span {
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateY(-200px);
    display: inline-block;
}
.title span.fade {
    opacity: 1;
    transform: translateY(0px);
}

//BURGER
.hamburger {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    
    border: 2px dotted white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.hamburger-line,.hamburger-line::before,.hamburger-line::after  {
    width: 70%;
    height: 1px;
    border-radius: 0.5px;
    background-color: white;
}

.hamburger-line::before, .hamburger-line::after {
    position: absolute;
    content: '';
}

.hamburger-line::before {
    transform: translateY(-10px);
}

.hamburger-line::after {
    transform: translateY(10px);
}

.hamburger .open {
    .hamburger-line{
        display: none;
    }
}