@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

@font-face {
    font-family: DubielPlain;
    src: url(/fonts/Dubiel.ttf);
  }

//all my comments got deleted because .gitignore settings were shit, but whatever
//GLOBAL
* {
  --primary-color: black;
  --title-size: 10vw;
  --h3-font-size: clamp(0.5rem, 3vw, 1.125rem);
  --h2-font-size: clamp(1.875rem, 5vw, 5rem);
}
html {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}
body {
  overscroll-behavior-y: none;
  /*Remove ScrollBar Entirely!*/
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  margin: 0;

  position: relative;

}
body::-webkit-scrollbar { /* WebKit for removing scrollbar*/
  display: none;
}

//LOADING SCREEN
.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#svg-loading-text {
  width: 50%;
  animation: draw-letters-fill 0.5s ease-in forwards 2s;
}
@keyframes draw-letters {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-letters-fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

//LOADING TITLE
.title {
    margin: 0;
    overflow: hidden; //instead of container h1 is used as container
    transition: all 0.5s ease-in-out;
}
.title:hover {
    transition: all 0.5s ease-in-out;
    transform: skew(-20deg);
}
.title span {
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateY(-200px);
    display: inline-block;
}
.title span.fade {
    opacity: 1;
    transform: translateY(0px);
}

//headers
h2 {
  font-family: DubielPlain;
  font-style: normal;
  font-weight: 500;
  font-size: var(--h2-font-size);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
<a href="https://www.vecteezy.com/free-vector/j">J Vectors by Vecteezy</a>
*/
#logo-container {
    overflow: hidden;
}
#logo {
  height: clamp(5rem,10vw,7rem);
  transform: translateY(-250px);
  opacity: 0;
  transition: all 0.8s ease-out;

  &.animated {
    transform: translate(0px);
    rotate: 0deg;
    opacity: 1;
  } 
}

//MENU
#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}
.menu-item {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 250;
  font-size: var(--h3-font-size);
  padding: 0.125rem 0;

  transform: translate(200px);
  transition: all 0.5s ease-out;
  &.animated {
    transform: translate(0px);
    rotate: 0deg;
  }

}

.menu-item:nth-child(1) {
    transition-delay: 10ms;
}
.menu-item:nth-child(2) {
    transition-delay: 100ms;
}
.menu-item:nth-child(3) {
    transition-delay: 300ms;
}

//HERO IMAGE
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .image-container > .me {
    height: 80vh;
    filter: url(#noise);
    padding: 10px;
    border: 0.125rem solid;
    border-color: white;
  
    transition: all 1s ease-out;
    transform: translateY(-70px);
    opacity: 0;
    object-fit: cover;
  
    &.animated {
      transform: translate(0px);
      opacity: 1;
    }
  }

//SCROLLING
.scroll-tracker {
  position: fixed;
  background: linear-gradient(transparent, white, transparent);
}
.scroll-tracker.one {
  left: 0;
  width: 2px;
  height: 100px;
}
.scroll-tracker.two {
  right: 0;
  width: 2px;
  height: 100px;
}/*# sourceMappingURL=styles.css.map */

//MOUSE TRACKING
#mouse-trailer {
    position: fixed;
    background-color: white;
    z-index: 2000;
    height: 100px;
    width: 100px;

    left: 50%;
    top: 50%;
    translate: -50% -50%;
    
    border-radius: 50%;
    background: linear-gradient(to right, transparent, rgb(238, 238, 210), rgb(246, 248, 212));

    opacity: 0.4;

    filter: blur(200px);

    animation: blob-distort 20s infinite;

    pointer-events: none;
}
@keyframes blob-distort {
    0% {
        rotate: 0deg;
    }

    60% {
        scale: 1 1.1;
    }

    100% {
        rotate: 359deg;
    }
}

//About
#about {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 250;
  
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 2rem;

    line-height: 1.5rem;
}

//footer
footer {
    font-family: "Josefin Sans", sans-serif;
    h4 {
        font-weight: 250; 
    }
}

//quotes
#phrases {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
//floating image
.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#phrases {
    margin-top: 8rem;
    background: white;
    height: 65vh;

    color: black;
}

#phrases .quotes > h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
}

#phrases .start-phrase {
    font-family: ambroise, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;

    margin: auto;
    width: 80vw;
}