@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
* {
  --primary-color: black;
  --title-size: 10vw;
  --h3-font-size: clamp(0.5rem, 3vw, 1.125rem);
}

html {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
  /*Remove ScrollBar Entirely!*/
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  margin: 0;
  position: relative;
}

body::-webkit-scrollbar { /* WebKit for removing scrollbar*/
  display: none;
}

.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#svg-loading-text {
  width: 50%;
  animation: draw-letters-fill 0.5s ease-in forwards 2s;
}

@keyframes draw-letters {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-letters-fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
.title {
  margin: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.title:hover {
  transition: all 1s ease-in-out;
  transform: skew(-20deg);
}

.title span {
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateY(-200px);
  display: inline-block;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
}

h2 {
  font-family: ambroise, serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container > .me {
  height: 80vh;
  filter: url(#noise);
  padding: 10px;
  border: 0.125rem solid;
  border-color: white;
  transition: all 1s ease-out;
  transform: translate(200px);
  rotate: 10deg;
  opacity: 0.3;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-container > .me.animated {
  transform: translate(0px);
  rotate: 0deg;
  opacity: 1;
}

/*
<a href="https://www.vecteezy.com/free-vector/j">J Vectors by Vecteezy</a>
*/
#logo {
  height: 10vw;
  transform: translateY(-100px);
  rotate: -10deg;
  opacity: 0.3;
  transition: all 1s ease-in;
}
#logo.animated {
  transform: translate(0px);
  rotate: 0deg;
  opacity: 1;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

.menu-item {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 250;
  font-size: var(--h3-font-size);
  padding: 0.125rem 0;
  transform: translate(200px);
  rotate: -20deg;
  transition: all 1s ease-out;
}
.menu-item.animated {
  transform: translate(0px);
  rotate: 0deg;
}

.menu-item:nth-child(1) {
  transition-delay: 10ms;
}

.menu-item:nth-child(2) {
  transition-delay: 100ms;
}

.menu-item:nth-child(3) {
  transition-delay: 300ms;
}

.scroll-tracker {
  position: fixed;
  background: linear-gradient(transparent, white, transparent);
}

.scroll-tracker.one {
  left: 0;
  width: 2px;
  height: 100px;
}

.scroll-tracker.two {
  right: 0;
  width: 2px;
  height: 100px;
} 
#mouse-trailer {
  position: fixed;
  background-color: white;
  z-index: 2000;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, transparent, rgb(238, 238, 210), rgb(246, 248, 212));
  opacity: 0.4;
  filter: blur(200px);
  animation: blob-distort 20s infinite;
  pointer-events: none;
}

@keyframes blob-distort {
  0% {
    rotate: 0deg;
  }
  60% {
    scale: 1 1.1;
  }
  100% {
    rotate: 359deg;
  }
}
#about {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 250;
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  line-height: 1.5rem;
}

footer {
  font-family: "Josefin Sans", sans-serif;
}
footer h4 {
  font-weight: 250;
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.slider-image {
  aspect-ratio: 0.6;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */