* {
    --primary-color: black;
    --h1-size: 10vw;
}

html {
    background-color: black;
    color: white;
}

body {
    overflow: hidden;
}

.loader {
    font-family: ambroise, serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--h1-size);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loader span {
    animation: text-shift-up 1s;
}


@keyframes text-shift-up {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: none;
    }
}

