::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  height: 90vh;
  overflow-x: scroll;
  align-items: center;
  transition: all 1s ease-in-out;
}

.slider-image-containers {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60%;
}

@media screen and (max-width: 900px) {
  .slider-image-containers {
    height: 40%;
  }
}
.slider-image-container {
  height: 100%;
}

.slider-image {
  height: 38vmin;
  width: 30vmin;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
  cursor: pointer;
  transition: 1.7s cubic-bezier(0.445, 0.05, 0.058, 0.96);
  position: fixed;
  left: 0;
  bottom: 46vh;
  transform: translate(0, 50%);
}
.slider-image.clicked {
  width: 60vmin;
  height: 60vmin;
  transition: 1.7s cubic-bezier(0.445, 0.05, 0.058, 0.96);
  z-index: 999999999;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 50%;
}