::-webkit-scrollbar {
  display: none;
}

.slider {
  position: relative;
  height: 90vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.slider-image-containers {
  height: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 900px) {
  .slider-image-containers {
    height: 40%;
  }
}
.slider-image-container {
  height: 50vmin;
  width: 40vmin;
  position: absolute;
  left: 0;
}
.slider-image-container h2 {
  font-family: DubielPlain;
  font-weight: 100;
  text-transform: uppercase;
}
.slider-image-container .slider-image-caption {
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%, 0);
  opacity: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
  cursor: pointer;
}

.arrow {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transform: translate(0, -50%);
  top: 50%;
}
.arrow img {
  width: 10vw;
}
.arrow.left {
  left: 0;
}
.arrow.right {
  right: 0;
}