@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
@font-face {
  font-family: DubielPlain;
  src: url(/media/fonts/Dubiel.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100vh;
}

html {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

body {
  overflow-x: none;
  overscroll-behavior-y: none;
  /*Remove ScrollBar Entirely!*/
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  position: relative;
}

body::-webkit-scrollbar { /* WebKit for removing scrollbar*/
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  height: 7vh;
}
nav h2 {
  font-family: DubielPlain;
  font-style: normal;
  font-weight: 100;
  font-size: clamp(1rem, 1rem + 1vw, 3rem);
}

/*
<a href="https://www.vecteezy.com/free-vector/j">J Vectors by Vecteezy</a>
*/
#logo-container {
  overflow: hidden;
}

#logo {
  height: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
  opacity: 1;
  transition: all 0.8s ease-out;
}
#logo.animated {
  transform: translate(0px);
  rotate: 0deg;
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}

#menu {
  height: 90%;
}

.title {
  margin: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.title:hover, #logo:hover {
  transition: all 0.5s ease-in-out;
  transform: skew(-20deg);
}

.title span {
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateY(-200px);
  display: inline-block;
}

.title span.fade {
  opacity: 1;
  transform: translateY(0px);
}

.hamburger {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100000;
}

.hamburger-line {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hamburger-line, .hamburger-line::before, .hamburger-line::after {
  height: 1.5px;
  border-radius: 0.5px;
  background-color: white;
  transition: 0.5s ease-in-out;
}

.hamburger-line {
  width: 70%;
}

.hamburger-line::before {
  width: 55%;
}

.hamburger-line::after {
  width: 40%;
}

.hamburger-line::before, .hamburger-line::after {
  position: absolute;
  content: "";
}

.hamburger-line::before {
  transform: translateY(-1vh);
}

.hamburger-line::after {
  transform: translateY(1vh);
}

.hamburger.open .hamburger-line {
  background: transparent;
}
.hamburger.open .hamburger-line::before {
  transform: rotate(-45deg);
  width: 70%;
}
.hamburger.open .hamburger-line::after {
  transform: rotate(45deg);
  width: 70%;
}

aside.open {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: black;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
aside.open a {
  text-decoration: none;
  font-family: DubielPlain, sans-serif;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 1.5rem + 5vw, 5rem);
  font-weight: 100;
  transition: 0.5s ease-in-out;
  margin: auto;
}

aside {
  display: none;
  opacity: 0;
  transition: 0.8s ease-in-out;
}
aside img {
  opacity: 0;
  transition: 0.5s linear;
}

.menu-column:hover > img {
  transition: 0.5s linear;
  opacity: 1;
}

.menu-column:hover > a {
  transition: 0.5s linear;
  transform: skew(-10deg);
  color: rgb(233, 232, 232);
}

.menu-column {
  display: flex;
  justify-content: space-between;
  height: 20%;
  width: 50vw;
  max-width: 80%;
}
.menu-column img {
  height: 70%;
}

aside {
  overflow-y: hidden;
  z-index: -1000;
}

footer.open {
  display: none;
}