body {
  position: relative;
}

.loading-title-container {
  height: 100%;
}

#svg-loading-text {
  position: absolute;
  z-index: 90000;
  animation: draw-letters-fill 0.5s ease-in forwards 2s;
}

@keyframes draw-letters {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-letters-fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.me {
  height: 68vh;
  width: 33%;
  filter: url(#noise);
  -o-object-fit: cover;
     object-fit: cover;
}
#about {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 250;
  font-size: clamp(0.5rem, 3vw, 1.125rem);
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 992px) {
  .image-container > .me {
    width: 80vw;
  }
  #about {
    width: 90%;
  }
}
.scroll-tracker {
  position: fixed;
  background: linear-gradient(transparent, white, transparent);
}

.scroll-tracker.one {
  left: 0;
  width: 2px;
  height: 100px;
}

.scroll-tracker.two {
  right: 0;
  width: 2px;
  height: 100px;
} 
#mouse-trailer {
  position: fixed;
  background-color: white;
  z-index: 2000;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, transparent, rgb(238, 238, 210), rgb(246, 248, 212));
  opacity: 0.4;
  filter: blur(23px);
  animation: blob-distort 20s infinite;
  pointer-events: none;
}

@keyframes blob-distort {
  0% {
    rotate: 0deg;
  }
  60% {
    scale: 1 1.1;
  }
  100% {
    rotate: 359deg;
  }
}
footer {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 10vh;
}
footer h4 {
  font-weight: 250;
}

h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: clamp(0.375rem, 1.8vw, 0.875rem);
  margin: 0;
}

footer {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

h7 {
  font-size: clamp(0.25rem, 1vw, 0.5rem);
}